/* General layout and header styling */
.layout {
  min-height: 100vh;
  background-color: #f4f6f8;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 224px;
}

.logo {
  height: 200px;
}

.content {
  padding: 2rem;
}

/* Counters styling */
.counters {
  text-align: center;
  margin-bottom: 20px;
}

.counter-card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 20px;
  background-color: #004d66;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.counter-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.counter-icon {
  font-size: 24px;
  margin-right: 10px;
}

/* Main row styling */
.main-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Video card styling */
.video-card {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

.video-title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.audio-player {
  width: 100%;
  margin-top: 1rem;
}

/* Script display styling */
.script-display {
  width: 100%;
  text-align: left;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.script-display p {
  margin: 0;
  line-height: 1.6;
}

/* Language selector card styling */
.language-selector-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1rem;
}

/* Language selector styling */
.language-selector {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 10px;
}

.language-title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.language-button {
  width: 100%;
  padding: 10px;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  border-radius: 4px;
}

.language-button:hover {
  background-color: #007b99;
}

.language-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.4);
}

.language-button.active {
  background-color: #007b99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flag-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

iframe {
  width: 100%;
  height: 100%;
}
.scrollable-container {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
  padding: 16px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}