.language-selector {
  max-height: 70vh;
  overflow-y: auto;
}

.language-title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.language-button {
  width: 100%;
  padding: 10px;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  border-radius: 4px;
}

.language-button:hover {
  background-color: #25343f;
  color: white;
}

.language-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(44, 45, 47, 0.4);
}

.language-button.active {
  background-color: #25343f;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flag-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
