.language-selector {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
  }
  
  .language-title {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .language-button {
    width: 100%;
    padding: 10px;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .language-button:hover {
    background-color: #007b99; /* Lighter shade for hover effect */
  }
  
  .language-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.4);
  }
  
  .language-button.active {
    background-color: #007b99; /* Highlight the active language */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .flag-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }